.wrapper {
    border: 2px black solid;
    border-radius: 5%;
    width: 270px;
    height: 200px;
    margin: 5px;
    padding: 10px;
}

.display {
    border: 2px yellow solid;
    border-radius: 5%;
    width: 245px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    font-size: 70px;
}
.displayError {
    border: 2px red solid;
    border-radius: 5%;
    width: 245px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    font-size: 70px;
    color: red;
}

.buttons {
    border: 2px yellowgreen solid;
    border-radius: 5%;
    width: 245px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}
